@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 224 71.4% 4.1%;
		--radius: 0.5rem;
		--featured: 166 243 231;
		--featured-foreground: 0 183 204;
		--phlox: 192 76 253;
	}
	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 216 12.2% 83.9%;
		/*--featured: 166 243 231;
		--featured-foreground: 0 183 204;
		--phlox: 192 76 253;*/
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground w-full;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

@layer components {
	.h1 {
		@apply text-4xl tracking-tight lg:text-5xl;
	}

	.h2 {
		@apply text-3xl tracking-tight transition-colors;
	}

	.h3 {
		@apply text-2xl tracking-tight;
	}

	.h4 {
		@apply text-xl tracking-tight;
	}

	.h1,
	.h2,
	.h3,
	.h4 {
		@apply font-bold;
	}
}

.wrapper {
	@apply mx-auto my-0 w-full;
	@apply py-0 px-6;
	@apply md:max-w-[720px];
	@apply lg:max-w-[960px];
	@apply xl:max-w-6xl;
}

.page-header {
	@apply py-14 text-center mb-12 max-w-2xl mx-auto;
	@apply md:pt-28 md:pb-10 md:mb-20;
}

.page-header-copy {
	@apply text-xl leading-9;
}

.page-section {
	@apply mb-12 md:mb-20;
}

.page-link {
	@apply font-semibold transition-colors underline;
	@apply hover:text-featured-foreground;
}

.page-link > span {
	@apply inline-block;
}

.heading {
	@apply font-extrabold text-4xl tracking-tight;
	@apply lg:text-5xl;
}

.heading > span {
	@apply border-b-[15px] border-featured;
}

.heading__page {
	@apply mb-12;
}

.heading--sub {
	@apply mb-4;
	@apply md:text-5xl;
}
